<form>
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" class="form-control" id="name" placeholder="Enter kitten's name">
  </div>
  <div class="form-group">
    <label for="breed">Breed: </label>
    <input type="text" class="form-control" id="breed" placeholder="Enter kitten's breed">
  </div>
  <div class="form-group">
    <label for="birth">Birth date: </label>
    <input type="date" class="form-control" id="birth" placeholder="Enter kitten's birth date">
  </div>
  <div class="form-group">
    <label for="photo">Photo: </label>
    <input type="text" class="form-control" id="photo" placeholder="Have you got a photo?">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
