.card{
  background-color: #45a29e;
}
.card-content button{
  margin-top: 10px
}
.card-img{
  margin: 10px;
  height: 90%;
}
h4 {margin-top: -10px;}

.horizontal{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #45A29E
}

