.page{
  margin-top:-5px;
  display: flex;
  flex-direction: row;
  height: 500px;
}
.user{
  padding: 25px;
  flex:0.5;
}
.list{
  padding: 25px;
  flex:1.5;
}

.container{
  display: flex;
  justify-content: space-around;
}
